* {
   margin:0px; padding:0px; border:0px;
} 
body {
   text-align:center;
}
#general {
   width:800px; margin:4px auto;
}  
#cabecera {
   background-color:#aabbaa;
}
#navegacion {
   background-color:#A9A5A7; border:black 1px solid; height:20px;
}
#navegacion li {
   float:left; list-style:none; margin:0px 10px 0px 10px;
}
#navegacion ul {
   margin-left: 250px; 
}
#contenido {
   background-color:#F4F4F4;width:800px; float:left;
}
#menu {
   background-color:yellow; width:150px; float:left; text-align:left; margin-right:10px;
} 
#menu li {
   list-style:none; margin:4px 0px 4px 6px;
}
a {
   color:brown; text-decoration:none;
} 
a:link { } 
a:visited { }
a:hover {
   color:red; text-decoration:underline;
} 
a:active { }
a:hover {
   color:red; text-decoration:underline; background-color: silver;
} 
#pie {
   background-color:#44dd22;
}
#pieuno {
   background-color:brown; float:left; width:150px;
}
#piedos {
   background-color:green; float:left; width:498px;
}
#pietres {
   background-color:red; float:left; width:150px;
}
p {
   text-align:justify;
}
#contenido p {
   padding:5px 10px 5px 10px; text-indent:15px;
} 
h1 {
   font-size:1.2em; color:blue; font-weight:bold; text-decoration:underline; text-align:center;
}
h2 {
   font-size:1.1em; color:blue; font-weight:bold; text-decoration:none; text-align:center;
} 